nav{
  
  background-color: black;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.first{
  background-image:url("https://www.vactualpapers.com/web/wallpapers/0013-pexels-photo11/1920x1200.jpg");
  background-size: cover;
  height: 900px;;   
}
.one{
  margin-left: 250px;
  padding-top: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color:white;
}
.two{
  margin-left: 350px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
}
.quiz{
  display: none;
}
.search{
  display: none; 
}
.quote{
  display: none;  
}
.gallery{
  display: none;  
}
.blog{
  display: none;  
}
.news{
  display: none;  
}
#about img{
  border-radius: 200px;
  margin-left: 150px;
}
.about1{
  margin-left: 300px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 40px;
}
.about{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.project{
  margin-left: 250px;
  padding-bottom: 50px;
  padding-top: 50px; 
  font-weight: bold;
  font-size: 40px;
}
button{
  margin-left: 40px;
}
p.round3{
  border: 2px solid black;
  border-radius: 12px;
}
.skills{
  margin-left: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 40px;  
}

#quiz{
  display: none;
}
#search{
  display: none;
}
#quote{
  display: none;
}
#news{
  display: none;
}
#gallery{
  display: none;
}
#blog{
  display: none;
}
.clickable1{
  font-weight: bold;
  font-size: 20px;
}


