nav{
  
  background-color: black;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.first{
  background-image:url("https://www.vactualpapers.com/web/wallpapers/0013-pexels-photo11/1920x1200.jpg");
  background-size: cover;
  height: 900px;;   
}
.one{
  margin-left: 250px;
  padding-top: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color:white;
}
.two{
  margin-left: 350px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
}
.quiz{
  display: none;
}
.search{
  display: none; 
}
.quote{
  display: none;  
}
.gallery{
  display: none;  
}
.blog{
  display: none;  
}
.news{
  display: none;  
}
#about img{
  border-radius: 200px;
  margin-left: 150px;
}
#aboutMe{
  padding-top: 40px; 
}
.about1{
 
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 27x;
  text-decoration:underline; 
}
.about{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.project{
  margin-left: 350px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 27x;
  text-decoration:underline;
}


.skills{
  margin-left: 350px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 27x;
  text-decoration:underline;
}
.contact{
  margin-left: 350px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 50x;
  text-decoration:underline; 
}
.phone{
  margin-left: 100px;
}
.email{
  margin-left: 100px;
}

#quiz{
  display: none;
}
#search{
  display: none;
}
#quote{
  display: none;
}
#news{
  display: none;
}
#gallery{
  display: none;
}
#blog{
  display: none;
}
.clickable1{
  font-weight: bold;
  font-size: 15px;
}
.clickable2{
  font-weight: bold;
  font-size: 15px;
}

.clickable3{
  font-weight: bold;
  font-size: 15px;
}
.clickable4{
  font-weight: bold;
  font-size: 15px;
}
.clickable5{
  font-weight: bold;
  font-size: 15px;
}
.fa {
  padding: 80px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-sizing: border-box;
  color: black;
}

.fa:hover {
    opacity: 0.7;
}

